<!--
<mat-toolbar color="primary" class="app-header">
  <div><a href="https://www.accolite.com/" target="_blank">Accolite iTracker</a></div>
  <span class="nav-tool-items">
    <button mat-fab color="warn" [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="profile" routerLinkActive="active">View Profile</a>
      <a mat-menu-item routerLink="login" routerLinkActive="active">Dashboard</a>
      <a mat-menu-item routerLink="login" routerLinkActive="active">Log Out</a>
    </mat-menu>
  </span>
</mat-toolbar>
-->
<html>
    <head>
          <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" type="text/css" href="profile.component.scss">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
          <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>

        <style type="text/css">


    </style>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-6 col-xs-12   profile-badge">
                    <!-- <img src="https://dummyimage.com/600x400/000/"> -->

                    <div class="profile-pic">

                            <img alt="User Pic" src="https://d30y9cdsu7xlg0.cloudfront.net/png/138926-200.png" id="profile-image1" height="200">
                            <input id="profile-image-upload" class="hidden" type="file" onchange="previewFile()" >
                            <div style="color:#999;" >  </div>

                    </div>

                    <div class="user-detail text-center" >
                     <div class="form-group">
                         <label for="view">Panelist</label>
                     </div>
                      <div class="form-group">
                        <label for="Fname" style="display: flex;">Name</label>
                        <input type="text" class="form-control" id="Fname" placeholder="Diksha" name="name">
                      </div>

                      <div class="form-group">
                        <label for="EmpId"style="display: flex;">Employee Id</label>
                        <input type="text" class="form-control" id="Lname" placeholder="INT950" name="name" pattern="[a-zA-Z0-9 ]+">
                      </div>

                      <div class="form-group">
                        <label for="Exp"style="display: flex;">Experience(in Years)</label>
                        <input type="number" class="form-control" id="experience" placeholder="2" name="exp">

                    </div>

                    <div class="form-group">
                        <label for="email"style="display: flex;">Mail ID</label>
                        <input type="varchar" class="form-control" id="email" placeholder="abcd.efgh@xyz.com " name="mail">
                      </div>
                    <div class="form-group">
                        <label for="mob" style="display:flex;">Mobile</label>
                        <input type="int" class="form-control" id="Mobile" placeholder="9999999999" name="mob">
                        </div>

                    <div class="form-group" style="border: 2 rem;">
                        <label for="Skills" style="display: flex;">Skills</label>
                        <input type="text" class="form-control" id="skill" placeholder="Primary Skill" name="sk">
                        <input type="text" class="form-control" id="skill" placeholder="secondary Skill" name="sk">
                        <input type="text" class="form-control" id="skill" placeholder="Tertiary Skill" name="sk">

                    </div>
     <input type="Button" class="btn btn-info" value="Update Profile">
     </div></div></div></div>


    </body>
    </html>
