<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">

          <input matInput type="text" class="form-control" name="username" placeholder="Username"
          [(ngModel)]="form.Username" required #username="ngModel"/>

          <!--input required matInput [(ngModel)]="form.Username" placeholder="Username"<label for="username">Username</label>-->
        </mat-form-field>

        <mat-form-field class="example-full-width">

          <input matInput type="text" class="form-control" name="password" placeholder="Password"
          [(ngModel)]="form.Password" required #password="ngModel"/>
          <!--input matInput placeholder="Password"-->
        </mat-form-field>

      </mat-card-content>
      <button mat-raised-button color="warn" class="btn-block" (click)="verify()">Log in</button>
      <!--
      <h1 style="text-align:center;"></h1>
      <h4 style="text-align:center;">OR</h4>
      <a mat-button mat-raised-button color="warn" class="btn-block" routerLink="register2" routerLinkActive="active">Register</a>
      -->
    </form>
  </mat-card>
</div>

