<!-- Toolbar
<mat-toolbar color="primary" class="app-header" *ngIf="!isLoggedIn">
  <div><a mat-flat-button href="https://www.accolite.com/" color="primary" target="_blank">Accolite iTracker</a></div>
  <span class="nav-tool-items">
  </span>

</mat-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="!isLoggedIn">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="text"
            class="form-control"
            name="username"
            placeholder="Username"
            [(ngModel)]="form.Username"
            required
            #username="ngModel"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            type="text"
            class="form-control"
            name="password"
            placeholder="Password"
            [(ngModel)]="form.Password"
            required
            #password="ngModel"
          />
        </mat-form-field>
      </mat-card-content>
      <button
        mat-raised-button
        color="warn"
        class="btn-block"
        (click)="verify()"

      >
        Log in
      </button>
      <a *ngIf="isLoggedIn" routerLink="profile" routerLinkActive="active"></a>

      <h1 style="text-align:center;"></h1>
      <h4 style="text-align:center;">OR</h4>
      <a mat-button mat-raised-button color="warn" class="btn-block" routerLink="register2" routerLinkActive="active">Register</a>

    </form>
  </mat-card>
</div>

<app-login></app-login>
<router-outlet></router-outlet>

<app-login *ngIf="!isLoggedIn"></app-login>
<app-profile *ngIf="isLoggedIn"></app-profile>

<router-outlet></router-outlet>
-->
